@media (min-width:992px) {
    html{
    font-size: 16px;
    }
    .header{
        font-size: 1rem;
    }
    .show{
        max-width: 1110px;
    }
}
@media (min-width:768px) and (max-width:991px){
    html{
        font-size: 14px;
    }
    .header{
        font-size: 0.5rem;
    }
    .show{
        max-width: 690px;
    }
}
@media (max-width:767px){
    html{
        font-size: 12px;
    }
    .show{
        max-width: 510px;
    }
}
body{
    background: url(../imgs/bkg.jpg);
}

/*ͷ��*/
.header{
    height: 1.9rem;
    line-height: 1.9rem;
}
.header span{
    color: #e487a5;
}

.show{

    height: 44rem;
    margin: 0 auto;
    background: url(../imgs/floral.png) no-repeat right bottom;
    background-size: 100%;
}
.show_font{
    color:#e2a4c1;
    font-size: 0.75rem;
}
.show_input{
    width: 16rem;
    height: 1.9rem;
    margin-top: 2rem;
    color: #896173;
    background-color: #fff;
    background-image: url(../imgs/search_icon.png);
    background-repeat: no-repeat ;
    background-position: 95% center;
    border-radius: 0.19rem;
}
.nav_top{
    width: 100%;
    height: 6.25rem;
    background: url(../imgs/search_bkg.png) no-repeat center bottom;
    opacity: 0.5;
}
.logo{
    width: 16.875rem;
    background: url(../imgs/logo.png) no-repeat center;
    background-size:100%;
}
.navtop_right{
   width: 12.438rem;
}
.nav{
    width: 100%;
    height: 2.563rem;
    background: url(../imgs/navigation_bkg.png) no-repeat;
    background-size: 100%;
    border-radius: 0.25rem;
    box-shadow: 0 0.3rem 0.38rem #50062c;
    font-size: 0.8rem;
}
.nav_shadow{
    position: relative;
    box-shadow: 0 -0.38rem #450928;
}
.input_container{
    width: 20.375rem;
    box-sizing: border-box;
    padding-top:0.6rem;
    padding-right:4.38rem;
}
.nav_bottom{
    height: 25.25rem;
    box-shadow: 0 0.19rem 0.625rem #16181b;
    color: #16181b;
}
.nav_bottomr{
    background: #d5c4cc;
}
.nav-item img{
    border-right:0.063rem solid #ccc;
}
.home_img img {
    border:0;
}
.nav-item span{
    border-right:0.063rem solid #ccc;
}
.toggle li{
    background: #9f3a64;
    border-bottom: 1px dotted #ffffff;
}
.toggle li:last-child{
    border-bottom: none;
}
.toggle li:hover{
    background: #50062c;
    text-decoration: none;
}
.toggle li a:hover{
    text-decoration: none;
}
/*������1*/
.nav_page:hover >.toggle_page{
    display: block;
}
.toggle_page{
    display: none;
    position: absolute;
    top:2.56rem;
    left:3.5rem;
}
/*������2*/
.nav_online:hover > .toggle_online{
    display: block;
}
.toggle_online{
    display: none;
    position: absolute;
    top:2.6rem;
    left:8.75rem;
}
/*������3*/
.nav_short:hover > .toggle_short{
    display: block;
}
.toggle_short{
    display: none;
    position: absolute;
    top:2.563rem;
    left:22.375rem;
}
/*������4*/
.nav_port:hover > .toggle_port{
    display: block;
}
.toggle_port{
    display: none;
    position: absolute;
    top:2.563rem;
    left:30.625rem;
}
.mega_show{
    background: #b54773;
}
.mega_show h3{
    color: #f5d96e;
    font-size: 1.5rem;
}
.mega_show .content1, .mega_show .content3{
    color: #fff;
}
.form-control{
    background: rgba(0,0,0,.3);
}
.form-control:focus{
    background: rgba(0,0,0,.3);
    font-size: 0.8rem;
}
.mega_show{
    display: none!important;
    position: absolute;
    width:60%;
    top:2.563rem;
    left:8.75rem;
}
.mega_show:after{
    content: "";
    display: block;
    clear: both;
}
.nav_mega:hover > .mega_show{
    display: block!important;
}
.media{
    height: 6.313rem;
    background: #ede6e9;
    border-bottom: 1px solid #d5c4cc;
}
.nav_bottomr>div.active2{
    display: flex;
    align-items: center;
}
.nav_bottomr>div.active2::before{
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height:0;
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid #d5c4cc;
    z-index: 10;
}
.media-body{
    font-size: 0.75rem;
}
.nav_bottom>div:first-child img{
    height: 100%;
}
.media-body>div:first-child{
    color: #e487a5;
}
.media:hover:not(.active){
 background: #d5c4cc;
}
.media:hover:not(.active) .img_container{
    background: rgb(237,230,233);
}
.test_container>.test_a:link{
    color:red;
}
.test_container>.test_a:visited{
    color:green;
}
.img_container{
    transition: 1s;
}
.img_container img{
    transition: 1s;
}
.img_container:hover{
     padding: 0;
 }
.img_container img:hover{
    transform:scale(1.1,1.15);
}
.active{
    background: #50062c;
    color: #fff;
}
.active .img_container{
    background: rgb(237,230,233);
}
.welcome{
    height: 3.063em;
    border-radius: 0.25rem;
    box-shadow: 0.313rem 0.313rem 0.188rem #450928 inset;
    background: #50062c;
    font-size: 1.375rem;
}
.welcome.box_shadow{
    box-shadow: 0.313rem -0.313rem 0.188rem #450928 inset;
}
.container{
    margin-top: 0.625rem;
}
.carousel_top{
    height: 0.938rem;
    background: url(../imgs/contentblock_top.png) no-repeat;
    background-size: 100%;
}
.my_carousel{
    height: 18.75rem;
}
.my_carousel>div{
    width: 12.09rem;
}
.my_carousel .w-88{
    width: 88%;
}
.my_carousel .name>a{
    color: #ce5d86;
    font-size: 0.938rem;
    font-weight: bold;
}
.my_carousel .name>a:hover{
   text-decoration: none;
}
.price{
    font-size: 0.813rem;
    font-weight: bold;
}
.button a:first-child{
    background: #7c154a;
    border-radius: 0.25rem;
}
.button a:nth-child(2){
     height: 1.375rem;
     color: #ce5d86;
     border-bottom: 1px dotted #ce5d86;
 }
.button a:nth-child(2):hover{
    border-bottom: 0;
    text-decoration: none;
}
.gallery>div:nth-child(2)>div{
    height: 23.75rem;
}
.galleryimg_height{
    width: 32%;
    height: 6.25rem;
    background: #ede6e9;
}
.gallery h3{
    color: #50062c;
    font-size: 1.5rem;
}
.gallery .left_title{
    width: 3.75rem;
    height: 2.813rem;
    font-size: 0.938rem;
    background: #50062c;
    border-radius: 50%;
}
.gallery .left_title>div:first-child a{
   border-bottom: 1px dotted #ffffff;
}
.gallery .title{
    color: #CE5D86;
    font-size: 0.938rem;
    font-weight: bold;
}
.gallery .content{
    font-size: 0.813rem;
    color: #50062c;
}
.gallery .content a{
    color: #CE5D86;
    border-bottom: 1px dotted #CE5D86;
}
.gallery .h3_bottom{
    border-bottom: 1px solid #ede6e9;
}
.products h3{
    color: #f5d96e;
    font-size: 1.5rem;
}
.products div{
    color: #ffffff;
    font-size: 0.813rem;
}
.left>div{
    border-bottom: 1px solid #955876;
}

.products .list-unstyled li{
  border-bottom: 1px solid #955876;
  background: url(../imgs/bullet_list.png) no-repeat 1.875rem 0.625rem;
}
.footer_container{
    position: relative;
}
.footer_container .img_container{
    position: absolute;
    right: 21.875rem;
    top: -1.563rem
}
.footer_width{
    width: 60%;
    height: 25rem;
}
.footer_width .title{
    color:#ce5d86;
    font-size: 0.938rem;
    font-weight: bold;
}
.footer div:not(.title),.footer a{
    color: #C7C7C7;
    font-size: 0.813rem;
}
.footer .bottom_line{
    border-bottom: 1px solid #464646;
}
.footer .w-30{
    width:30%;
}
.footer input{
    width: 15.625rem;
    height: 2.188rem;
    border-radius: 0.25rem;
    background: url(../imgs/footer_field.png) no-repeat;
    background-size: 100%;
    color: #C7C7C7;
    box-shadow: 0.125rem 0.125rem 0.313rem #000;
}
.footer button{
    width: 3.75rem;
    height: 2.188rem;
    background: url(../img/go_btn.png) no-repeat;
    border-radius: 0.25rem;
    color: #C7C7C7;
    box-shadow: 0.125rem 0.125rem 0.313rem #000;
}
.footer_width>div:nth-child(3) a{
    color: #c54870;
    border-bottom: 1px dotted #fff;
}
.footer_width>div:nth-child(3) a:hover{
    text-decoration: none;
    border-bottom: 0;
}
.footer .list-unstyled li{
    background: url(../imgs/link_arrow_white.png) no-repeat left center;
}







